@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body {
  display: flex;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background-color: #FDFDFD;
}
a {
  text-decoration: none;
  outline: none;
  color: darkslategray;
}
